body {
    background-image: url(./assets/background.jpg);
    width: 100%;
    font-family: 'Acme', sans-serif;
    /* Image from Naldz Graphics */
}

body h1 {
    font-size: 32px;
}

body hr {
    width: 100%;
    float: left;
    margin: 0;
    padding: 5;
}

.headwrap {
    margin: auto;
}

.headwrap ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
}

.headwrap li {
    float: left;
}

.headwrap li a {
    display: block;
    color: black;
    padding: 20px;
    text-decoration: none;
    text-transform: uppercase;
}

.headwrap li a:hover {
    background: grey;
    color: white;
}

.headwrap img {
    height: 50px;
}

.sidebar {
    margin: 0;
    padding: 0 10px 0 0;
    width: 25%;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidebar h3 {
    text-align: right;
    padding: 0;
    margin: 0;
    background: transparent;
}

.sidebar a {
    background: transparent;
    color: black;
    text-decoration: none;
    display: block;
    text-align: right;
    font-size: 18px;
    text-transform: uppercase;
}

.sidebar a:hover {
    background: grey;
    color: white;
}

.main {
    margin-right: 15%;
    width: 70%;
    margin-left: 30px;
}

.main h1 {
    text-transform: uppercase;
}

.main img {
    width: 300px;
}
.featured {
    width: 70%;
    margin-left: 20px;
    float: left;
}

.featured img {
    width: 225px;
}

.featured  section { 
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.featured h1 {
    text-transform: uppercase;
}

.featured div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.featured a {
    text-decoration: none;
}

.featured a:visited {
    color: black;
}


.featured p {
    padding: 0;
    margin: 0;
    text-align: center;
}

.logos {
    width: 70%;
    margin-left: 20px;
    float: left;
}

.logos img {
    float: left;
    width: 133px;
    margin: 20px;
}

.logos h1 {
    text-transform: uppercase;
} 

#benchmade {
    background-color: #0a348f;
}

.mailing {
    width: 70%;
    margin-left: 20px;
    float: left;
}

.mailing h1 {
    text-transform: uppercase;
}

.mailing h3 {
    font-size: 16px;
}

.footer {
    width: 100%;
    height: 80px;
    margin-left: 20px;
    float: left;
    display: block;
    text-align: center;
    padding-top: 45px;
}

.footer a {
    text-decoration: none;
    color: blue;
}

.footer a:visited {
    color: blue;
}